/* MAIN */
.hero-container {
  background: url("/public/images/pet-background1.jpeg") center center/cover
    no-repeat;
  min-height: 85vh;
  max-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.568);
  object-fit: contain;
}
.hero-container > h1 {
  color: #fff;
  text-shadow: 4px 2px #434242;
  font-size: 86px;
  margin-top: -100px;
  font-weight: 800;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
}
.hero-container > p {
  margin-top: 8px;
  color: #fff;
  text-shadow: 3px 2px #434242ac;
  font-size: 35px;
  font-family: "fraunces", serif;
  font-weight: 600px;
  text-align: center;
}
.hero-btns {
  margin-top: 32px;
}
.hero-btns .btn {
  margin: 10px;
  padding: 10px;
  font-family: "barlow";
}
/* BUTTON STUFF */
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}
svg {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}
.hero-btns:hover svg {
  stroke-dashoffset: -480;
}
.hero-btns span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/****** RESPONSIVE ******/
@media screen and (max-width: 390px) {
  .hero-container {
    background: url("/public/images/cat-dog-background.jpeg") center
      center/cover no-repeat;
    width: 100%;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-container > h1 {
    font-size: 30px;
    margin-top: 3rem;
    text-shadow: 1px 1px #434242;
  }
  .hero-container > p {
    color: #fff;
    font-size: 15px;
    font-family: "fraunces", serif;
    text-align: center;
    text-shadow: 1px 1px #434242;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    height: 50px;
  }
  .hero-btns span {
    color: white;
    font-size: 10px;
    font-weight: 100;
  }
  .hero-btns {
    margin: 10px;
  }
  .hero-btns .btn {
    margin: 10px;
    font-family: "barlow";
  }
}

@media screen and (max-width: 600px) {
  .hero-container {
    background: url("/public/images/cat-dog-background.jpeg") center
      center/cover no-repeat;
    width: 100%;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-container > h1 {
    font-size: 50px;
    margin-top: 3rem;
    text-shadow: 1px 1px #434242;
  }
  .hero-container > p {
    color: #fff;
    font-size: 25px;
    font-family: "fraunces", serif;
    text-align: center;
    text-shadow: 1px 1px #434242;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
    height: 50px;
  }
  .hero-btns span {
    color: white;
    font-size: 15px;
    font-weight: 100;
  }
  .hero-btns {
    margin: 10px;
  }
  .hero-btns .btn {
    margin: 10px;
    font-family: "barlow";
  }
}