/* Default */
.animals {
  display: grid;
  justify-items: center;
  margin: 20px;
  padding: 20px;
}

/* Media queries for specific screen sizes */
/* Breakpoint for screen width up to 320px */
@media screen and (max-width: 320px) {
  .animals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    margin: 0px;
  }
}

@media screen and (min-width: 321px) and (max-width: 359px) {
  .animals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    margin: 5px;
  }
}

@media screen and (min-width: 360px) and (max-width: 389px) {
  .animals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    margin: 5px;
  }
}

@media screen and (min-width: 390px) and (max-width: 425px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
  }
}

@media screen and (min-width: 1536px) and (max-width: 1920px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 55px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .animals {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
  }
}

ul {
  list-style: none;
}

.link:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.link:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}