.animals-list {
  width: 100%;
}

.animals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 10px;
}

.favorite-animals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 15px;
}

.card {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.161);
}

.available-animal {
  font-family: "Fraunces";
}
/* .display {
  display: grid;
  box-sizing: border-box;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
} */

ul {
  list-style: none;
}
