* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'fraunces', sans-serif;
}

html,
body,
#react-root {
  height: 100%;

}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
PAGES
-------------------------------------------------------------------------------- */
.user-page-title, .animal-page-title, .review-page-title {
  color:#326186;
  text-shadow: 2px 1px #464444b9;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Merienda', sans-serif;
  margin-top:2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.request-heading, .animal-page-heading {
  color:#4b7ba0;
  text-shadow: 1px 1px #464444b9;
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'varela round', sans-serif;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top:10px;
  padding-top: 0 ;
  text-align: center;
}

/* MOBILE */
@media screen and (max-width: 390px) {
  .user-page-title, .animal-page-title, .review-page-title {
    color:#326186;
    text-shadow: 1px 1px #464444b9;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Merienda', sans-serif;
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: .5rem;
  }
  .request-heading, .animal-page-heading {
    color:#4b7ba0;
    text-shadow: 1px 1px #464444b9;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'varela round', sans-serif;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top:10px;
    padding-top: 0 ;
    text-align: center;
  }
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */
.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}


