* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'fraunces', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
PAGES
-------------------------------------------------------------------------------- */
.user-page-title, .animal-page-title, .review-page-title {
  color:#326186;
  text-shadow: 2px 1px #a6a5a5e2;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Merienda', sans-serif;
  margin-top:2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.request-heading, .animal-page-heading {
  color:#4b7ba0;
  text-shadow: 2px 1px #a6a5a5e2;
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'varela round', sans-serif;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top:10px;
  padding-top: 0 ;
  text-align: center;
}
/****** RESPONSIVE ******/
@media screen and (min-width: 320px) and (max-width: 424px) {
  .user-page-title, .animal-page-title, .review-page-title {
    color:#326186;
    text-shadow: 1.5px 1.5px #a6a5a5e2;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Merienda', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .request-heading, .animal-page-heading {
    color:#4b7ba0;
    text-shadow: 1.5px 1.5px #a6a5a5e2;
    font-size: 1em;
    font-weight: 400;
    font-family: 'varela round', sans-serif;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top:10px;
    padding-top: 0 ;
    text-align: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .user-page-title, .animal-page-title, .review-page-title {
    color:#326186;
    text-shadow: 2px 1px #a6a5a5e2;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Merienda', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .request-heading, .animal-page-heading {
    color:#4b7ba0;
    text-shadow: 1.5px 1.5px #a6a5a5e2;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'varela round', sans-serif;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 0 ;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px ) {
  .user-page-title, .animal-page-title, .review-page-title {
    color:#326186;
    text-shadow: 2px 1px #a6a5a5e2;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Merienda', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .request-heading, .animal-page-heading {
    color:#4b7ba0;
    text-shadow: 1.5px 1.5px #a6a5a5e2;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'varela round', sans-serif;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 0 ;
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .user-page-title, .animal-page-title, .review-page-title {
    color:#326186;
    text-shadow: 2px 1px #a6a5a5e2;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Merienda', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .request-heading, .animal-page-heading {
    color:#4b7ba0;
    text-shadow: 1.5px 1.5px #a6a5a5e2;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'varela round', sans-serif;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
    padding-top: 0 ;
    text-align: center;
  }
}
/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */
.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}


