.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  background-color: #1c364b;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 25px;
  font-weight: 900;
  color: #f2f2f2;
  padding-left: 10px;

  margin-left: 25px;
  font-family: "varela round";
}

.navLink {
  display: inline-block;
  color: #f7f9fb;
  background-color: #1c364b;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 15px;
  font-family: "varela round", "fraunces";
  font-weight: 800;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #326186;
}
